@import "src/styles/config"

.app-main
  flex-grow: 5
  background-color: $back
  overflow-y: scroll

  .main-container
    //height: 2000px
    color: #000
    transition: padding $animation-time

  .main-container-menu-active
    padding-top: 30px

  .main-container-menu-inactive
    padding-top: 20px


.app-main-menu-active
  padding-top: 20px

.main-container-static
  position: absolute
  margin: auto
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 400px
  height: 200px

  .content
    border: 1px solid rgba(0,0,0,.1)
    box-shadow: 2px 2px 4px  4px rgba(0,0,0,.1)
    padding: 20px
    border-radius: 15px
