@import "src/styles/config"

.app-main
  flex-grow: 5
  background-color: $back
  overflow-y: scroll
  .main-container
    height: 2000px
    color : #000
    transition: padding $animation-time

  .main-container-menu-active
    padding-top: 30px

  .main-container-menu-inactive
    padding-top: 20px


.app-main-menu-active
  padding-top: 20px