@import "src/styles/config"

.custom-table
  width: 100%
  //border: 0.1rem red solid

  thead
    th
      text-align: center
      text-transform: capitalize
      border: 1px solid rgba(0, 0, 0, .1)
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1)
      background-color: $secondary
      padding: 0.3rem

  tbody
    td
      text-align: center
      border: 0.1rem red solid

  tfoot
    td
      text-align: center