@import "src/styles/config"

.app-left-nav
  width: 50px
  display: flex
  align-items: center
  flex-flow: row wrap
  background-color: $primary
  transition: width $animation-time/2

  .nav-icon
    font-size: 30px
    padding: 10px

  .nav-item
    writing-mode: vertical-rl
    text-orientation: upright
    color: white
    display: flex
    align-items: center
    animation-name: menu-animation2
    animation-duration: 2s

  .nav-item-active
    width: 100%

    .menu-icon
      padding: 15px
      display: flex
      justify-content: space-between
      align-items: center

    .nav-icon
      float: right
      font-size: 20px

    h3
      color: white

    hr
      margin: 0
      padding: 0
      width: 100%
      border: 1px solid $unique


.app-left-menu-active
  width: 300px


.app-left-nav
  .nav-item-active
    animation-name: menu-animation1
    animation-duration: 2s

    ul
      padding-top: 10px
      padding-bottom: 10px

    li
      list-style: none
      text-decoration: none
      a
        color: $white

    li a:hover
      color: $tertiary
      font-size: 30px
      text-decoration: underline

    .menu-route-icon
      padding: 10px


@keyframes menu-animation1
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes menu-animation2
  0%
    opacity: 0
  100%
    opacity: 1